/* css/ads.css */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 575.98px) {
    .row.align-items-center {
        text-align: center;
    }
    .row.align-items-center .col-auto {
        margin-top: 1rem;
    }
}

/** Filter Section **/
.filter-section {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

#filterColumn {
    transition: all 0.3s ease-out;
    width: 25%;
}

#filterColumn.collapsed {
    width: 40px;
}

#tableColumn {
    transition: all 0.3s ease-out;
    width: calc(75% - 100px);
    /* 75% minus the width of the right column */
}

#rightColumn {
    width: 100px;
    /* Fixed width for the right column */
}

.expand-filters {
    display: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 10px 0;
    height: 100%;
}

#filterColumn.collapsed .expand-filters {
    display: block;
}

#filterColumn.collapsed .card {
    display: none;
}

#tableContainer {
    width: 100%;
    overflow-x: auto;
}