/* css/ads.css */

/* General styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    height: calc(100vh - 100px);
}

#contentColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.dataTables_wrapper .dataTables_scroll {
    clear: both;
}

.dataTables_wrapper {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    height: 100%;
}
.dataTables_scroll {
    /* flex-grow: 1;
    display: flex;
    flex-direction: column; */
    flex: 1;
    overflow: hidden;
}

.dataTables_scrollBody {
    max-height: none !important;
    height: 100% !important;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_info {
    margin-top: 10px;
}
/* Ensure pagination and info are outside the scroll area */
.dataTables_info,
.dataTables_paginate {
    flex-shrink: 0;
}

#tableContainer {
    /* flex-grow: 1; */
    flex: 1;
    /* overflow: hidden; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

#tableColumn {
    transition: all 0.3s ease-out;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 150px); */
    height: 100%;
}

/* Ensure the table takes up all available space */
#sheetDataTable {
    height: 100%;
    width: 100%;
}
#sheetDataTable tbody tr {
    line-height: 0.3;
}

/* Responsive styles */
@media (max-width: 575.98px) {
    .row.align-items-center {
        text-align: center;
    }

    .row.align-items-center .col-auto {
        margin-top: 1rem;
    }
}
/* VVV */
.filter-column,
.filter-sols-column {
    flex: 0 0 300px;
    transition: all 0.3s ease-out;
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
    /* This ensures the content column can shrink below its content size */
}
