/* css/ads.css */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 575.98px) {
    .row.align-items-center {
        text-align: center;
    }
    .row.align-items-center .col-auto {
        margin-top: 1rem;
    }
}

.filter-section {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

#filterColumn {
    transition: all 0.3s ease-out;
}

#filterColumn.collapsed {
    max-width: 0;
    padding: 0;
    overflow: hidden;
}

#tableColumn {
    transition: all 0.3s ease-out;
}

#tableContainer {
    margin-top: 20px;
    /* Added vertical space */
}