.main-content {
    flex-grow: 1 !important;
    display: flex !important;
    overflow: hidden !important;
    height: calc(100vh - 100px) !important;
}

#contentColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#tableContainer,
#iframeContainer {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

#iframeContainer .card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#iframeContainer .card-body {
    flex-grow: 1;
    padding: 0;
}

#contentIframe {
    width: 100%;
    height: 100%;
    border: none;
}