.anki-icon{
    margin-left: 10px;
    display: inline-block;
}
.anki-icon-img{
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
}
.note-icon {
    color: rgb(246 5 5);
    margin-left: 10px;
    display: inline-block;
    background-color: #ffff0061;
}

.note-icon i {
    font-size: 1.2em;
}